<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77381524991-fje0e1f4mp7blfnurmpeailobtrsolmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77381524991-fje0e1f4mp7blfnurmpeailobtrsolmp</string>
	<key>API_KEY</key>
	<string>AIzaSyAfYyPjUtqMf-r6UPTue6qyR9EfTO3chgM</string>
	<key>GCM_SENDER_ID</key>
	<string>77381524991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.turgay.assignment</string>
	<key>PROJECT_ID</key>
	<string>assignmentt-3537a</string>
	<key>STORAGE_BUCKET</key>
	<string>assignmentt-3537a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77381524991:ios:da859b02d4884b67a69bca</string>
</dict>
</plist>